<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="favicon" rel="shortcut icon" href="/favicon.ico"/>
  <title>dump</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/flash.css">
  <link rel="stylesheet" href="/css/navigator.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<%- include("../components/flash") %>
<%- include("../components/navigator") %>

<div class="container">
  <div class="page-content">
    <section class="common">
      <form class="primary-form" method="post" action="" enctype="multipart/form-data">
        <% posts.forEach(function (post) { %>
          <div class="post-item">
            <label for="<%= post._id %>"><%= post.title %></label>
            <input id="<%= post._id %>" name="<%= post.title %>" type="checkbox" checked value="<%= post._id %>">
          </div>
        <% }) %>
        <input id="submit" type="submit" value="下载">
      </form>
    </section>
  </div>
</div>

<%- include("../components/footer") %>

<script src="/js/flash.js"></script>
<script src="/js/navigator.js"></script>
</body>
</html>
