<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="favicon" rel="shortcut icon" href="/favicon.ico"/>
  <title>首页</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/flash.css">
  <link rel="stylesheet" href="/css/navigator.css">
  <link rel="stylesheet" href="/css/markdown.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/posts.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<%- include("components/flash") %>
<%- include("components/navigator") %>

<div class="container">
  <div class="page-content">
    <% posts.forEach(function (post) { %>
      <div class="post-block">
        <a class="one" href="/posts/<%= post.id %>">
          <img class="wall" src="<%= post.wall %>" alt="wall">
        </a>

        <div class="other">
          <div class="post-preview">
            <time><%- post.timestamp %></time>
            <h3><a href="/posts/<%= post.id %>"><%- post.title %></a></h3>
            <article class="markdown-body">
              <%- post.htmlPreview %>
            </article>
          </div>
        </div>
      </div>
    <% }) %>

  </div>
</div>

<%- include("components/footer") %>

<script src="/js/flash.js"></script>
<script src="/js/navigator.js"></script>
</body>
</html>
